/* ************ generics *************/

body {
  background-color: #dadbd3;
  height: 100vh;
  width: 100%;
}

.dg--bg-green {
  background-color: #009688;
  height: 15vh;
}

#boolzapp {
  position: absolute;
  top: 3vh;
  left: 50%;
  transform: translate(-50%);
}

/* ************ Utilities ************ */

.dg--cursor:hover {
  cursor: pointer;
}

.dg--text-message:focus-visible,
.dg--search-bar:focus-visible {
  outline-color: #b1b1b1;
}

/* ************ / Utilities ************ */

/* ************ User ************ */

.dg--bg-gray {
  background-color: #eaeaea;
}

.dg--bg-lightblue {
  background-color: #8edafb;
  height: 60px;
}

.dg--clr-gray {
  color: #b1b1b1;
}

.dg--users {
  width: 50px;
  border-radius: 50%;
  margin: 8px;
}

.dg--name-user {
  font-size: 0.8rem;
  font-weight: 600;
}

.dg--access-info,
.dg--text-gray {
  font-size: 0.7rem;
  color: #b1b1b1;
  font-weight: 400;
}

/* ************ / User ************ */

/* ************ Notifiche ************ */

.dg--notice {
  color: #8edafb;
  border-radius: 50%;
  background-color: white;
  padding: 10px;
}

.dg--notice-title {
  line-height: 12px;
  font-size: 0.8rem;
  font-weight: 500;
}

/* ************ / Notifiche ************ */

/* ************ Ricerca Chat ************ */

.dg--search-icon {
  border-right: 1px solid #fafafa;
  padding: 5px 18px;
  background-color: #fff;
}

.dg--search-bar {
  border: none;
  font-weight: 500;
  padding: 5px 0px 5px 5px;
}

.dg--bg-white {
  background-color: #fafafa;
}

/* ************ / Ricerca Chat ************ */

/* ************ Contatti ************ */

.dg--bg-contact {
  background-color: #fff;
}

.dg--bg-contact:hover {
  background-color: #eaeaea;
  cursor: pointer;
}

/* ************ / Contatti ************ */

/* ************ Chat ************ */

.dg--bg-chat {
  background-image: url(../img/mine.jpg);
  overflow-y: auto;
  height: 100vh;
}

.dg--chat {
  display: flex;
  flex-direction: column;
}

.dg--bg-size {
  flex-grow: 1;
}

.dg--message {
  border-radius: 10px;
  font-size: 0.8rem;
  position: relative;
  text-align: start;
}

.dg--sent {
  background-color: #d5f9ba;
  align-self: flex-end;
}

.dg--received {
  background-color: #fff;
  align-self: flex-start;
}

.dg--hour {
  font-size: 0.5rem;
  position: absolute;
  right: 4px;
  bottom: 1px;
}

/* ************ Dropdown menu ************ */

/* ************ / Chat ************ */

/* ************ Barra Messaggi ************ */

.dg--clr-dark-grey {
  color: rgb(114, 114, 114);
}

.dg--text-message {
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: black;
  font-size: 0.8rem;
}

.dg--input-message {
  background-color: #ebe8e6;
}

/* ************ / Barra Messaggi ************ */

.prova {
  background-color: #fff;
}
